#header{
    height: 50px;
    background: #0d232e;
}

#branding h1 {
    color: #ffffff;
}
a:link,a:visited {
    color:  #0d232e;
}
div.breadcrumbs {
    background: #5f8d69;
   
}
div.breadcrumbs a {
    color: #333333;
}

.module h2, .module caption, .inline-group h2 {
    background: #5f8d69;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #0d232e;
    color: #ffffff;
}